@import url(https://fonts.googleapis.com/css?family=Barlow);

.App {
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background: linear-gradient(
    to bottom,
    rgba(155, 89, 182, 0.6),
    rgba(196, 102, 70, 0.6) 50%,
    rgba(196, 102, 70, 0.6) 50%,
    rgba(155, 89, 182, 0.6)
  );
}

.navbar-link-size {
  color: white;
  font-size: calc(5px + 2vmin);
  width: max-content;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Barlow";
}
.navbar-link-size-lg {
  color: white;
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Barlow";
}
